<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.pingwinek.jens.cookandbake">

    <application
            android:name=".PingwinekCooksApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_cookandbake_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_cookandbake_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/CookAndBakeAppTheme"
            android:usesCleartextTraffic="true">

        <activity
                android:name=".activities.RecipeListingActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.RecipeActivity"
                android:label="@string/recipeLocal"
                android:launchMode="singleTop"
                android:parentActivityName=".activities.RecipeListingActivity" />
        <activity
                android:name=".activities.IngredientActivity"
                android:windowSoftInputMode="stateVisible"
                android:parentActivityName=".activities.RecipeActivity" />
        <activity
                android:name=".activities.InstructionActivity"
                android:windowSoftInputMode="stateVisible"
                android:parentActivityName=".activities.RecipeActivity" />
        <activity
                android:name=".activities.RecipeEditActivity"
                android:label="@string/recipeLocal"
                android:windowSoftInputMode="stateVisible"
                android:parentActivityName=".activities.RecipeActivity" />

        <activity
                android:name=".activities.ManageAccountActivity"
                android:label="@string/manage_account"
                android:launchMode="singleTop"/>
        <activity
                android:name=".activities.ImpressumActivity"
                android:launchMode="singleTop"/>
        <activity
                android:name=".activities.RegisterActivity"
                android:label="@string/register"
                android:launchMode="singleTop" />
        <activity
                android:name=".activities.LoginActivity"
                android:label="@string/login"
                android:launchMode="singleTask">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:host="pingwinek.de" />
                <data android:pathPattern="/cookandbake/confirm_registration/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.pingwinek.de" />
                <data android:pathPattern="/cookandbake/confirm_registration/.*" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.LostPasswordActivity"
                android:label="@string/lostPassword"
                android:launchMode="singleTop"
                android:parentActivityName=".activities.LoginActivity" />
        <activity
                android:name=".activities.ChangePasswordActivity"
                android:label="@string/changePassword"
                android:launchMode="singleTop" />
        <activity android:name=".activities.NewPasswordActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
                <data android:host="pingwinek.de" />
                <data android:pathPattern="/cookandbake/lost_password/.*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.pingwinek.de" />
                <data android:pathPattern="/cookandbake/lost_password/.*" />
            </intent-filter>
        </activity>
    </application>

</manifest>